<div class="row">
  <div class="col-xs-6">
    <h1 class="display-4">Teams</h1>
    <h6 class="text-muted">
      <% if @teams && @teams.all.size > 0 %>
          <%= @teams.all.size %> records found
      <% end %>
    </h6>
  </div>
  <div class="col-xs-6 text-xs-right">
    <%= link_to 'New Team', new_team_path, class: 'btn btn-primary' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Company</th>
      <th>Member Count</th>
      <th>Artist Count</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.category %></td>
        <td><%= team.company.name %></td>
        <td><%= team.memberships.all.size %></td>
        <td><%= team.artists.all.size %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Edit buttons">
            <%= link_to 'Show', team, class: "btn btn-secondary  btn-sm" %>
            <%= link_to 'Edit', edit_team_path(team), class: "btn btn-secondary btn-sm" %>
            <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
