<div class="row">
  <div class="col-sm-6 col-xs-12">
    <h1 class="display-4"><%= @value_list.name %></h1>
  </div>
  <div class="col-sm-6 col-xs-12 text-xs-right">
    <%= link_to 'Edit', edit_value_list_path(@value_list), class: 'btn btn-outline-secondary' %>
    <%= link_to 'Back', value_lists_path, class: 'btn btn-outline-secondary' %>
  </div>
</div><!-- /row -->
<hr>

<div class="row">

  <!--left column-->
  <div class="col-sm-6 col-xs-12">
    <h4>New Value</h4>
    <hr>
    <!--TODO: New Value Form-->
    <%= form_for [@value_list, @new_item], html: { class: "form-inline" } do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'name' %>
    </div>
    <div class="form-group">
      <%= f.label :position %>
      <%= f.number_field :position, class: 'form-control' %>
    </div>
    <div class="form-group">
      <!--<%= f.label :value_list_id %>-->
      <%= f.hidden_field :value_list_id, class: 'form-control' %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>

  <!--right column-->
  <div class="col-sm-6 col-xs-12">
    <!--<h4>Values</h4>-->
    <div class="list-group">
      <div href="#" class="list-group-item disabled">Values</div>
      <% @value_list.value_items.order(:position).each do |item| %>
          <%= link_to item.name, value_list_value_item_path(@value_list, item), class: 'list-group-item' %>
      <% end %>
    </div>
  </div>
</div><!-- /row -->




