<div class="row">
  <div class="col-sm-6 col-xs-12">
    <h1 class="display-4"><%= @job.job_number %></h1>
    <h4><%= @job.job_client.name %></h4>
    <h6 class="text-muted">
      <%= @job.job_contact.name_full %>
    </h6>
  </div>
  <div class="col-sm-6 col-xs-12 text-xs-right">
    <%= link_to 'Edit Team', edit_job_path(@job), class: 'btn btn-outline-secondary' %>
    <%= link_to 'Back', jobs_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>

<hr>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Job Status:</strong>
  <%= @job.job_status_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job.category %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @job.job_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Job Contact:</strong>
  <%= @job.job_client.name %> | <%= @job.job_contact.name_full %>
</p>

<p>
  <strong>Estimate Contact:</strong>
  <%= @job.estimate_client.name %> | <%= @job.estimate_client.name %>
</p>

<p>
  <strong>Billing Contact:</strong>
  <%= @job.billing_client.name %> | <%= @job.billing_contact.name_full %>
</p>

<hr>
<h4>Teams</h4>
<% @job.teams.each do |team| %>
    <p><%= team.name %></p>
<% end %>

