<div class="row">
  <div class="col-xs-6">
    <h1 class="display-4">Clients</h1>
    <h6 class="text-muted">
      <% if @clients && @clients.all.size > 0 %>
          <%= @clients.all.size %> records found
      <% end %>
    </h6>
  </div>
  <div class="col-xs-6 text-xs-right">
    <%= link_to 'New Client', new_client_path, class: 'btn btn-primary' %>
  </div>
</div>

<!--SEARCH FORM-->
<%= form_tag clients_path, :method => 'get' do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search Clients' %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: 'btn btn-outline-secondary' %>
      </span>
    </div>
<% end %>

<hr/>

<!--SEARCH RESULTS-->
<% if @clients && @clients.all.size > 0 %>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Website</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.category %></td>
        <td><%= client.website %></td>
        <td><%= client.slug %></td>
        <td><%= link_to 'Show', client_path(client) %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

