<div class="row">
  <div class="col-sm-6 col-xs-12">
    <h1 class="display-4"><%= @company.name %></h1>
  </div>
  <div class="col-sm-6 col-xs-12 text-xs-right">
    <%= link_to 'Edit Company', edit_company_path(@company), class: 'btn btn-outline-secondary' %>
    <%= link_to 'Back', companies_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>
<hr>

<div class="row">

  <!--left column-->
  <div class="col-md-6 col-sm-12">
    <h2>Details</h2>
    <hr>
    <p>
      <strong>Name legal:</strong>
      <%= @company.name_legal %>
    </p>

    <p>
      <strong>Tax:</strong>
      <%= @company.tax_id %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @company.website %>
    </p>

    <p>
      <strong>Active:</strong>
      <%= @company.active %>
    </p>
  </div>

  <!--right column-->
  <div class="col-md-6 col-sm-12">
    <h2>Teams</h2>
    <hr>
    <% @company.teams.each do |team| %>
        <%= link_to team.name, team %>
        <hr>
    <% end %>
  </div>
</div><!-- /row -->

<div class="row">
  <!--right column-->
  <div class="col-md-12 col-sm-12">
    <h2>Artwork</h2>
    <hr>
    <%= image_tag "ART_DEPARTMENT.png", class: 'img-fluid' %>
  </div>
</div><!-- /row -->

