<div class="row">
  <div class="col-xs-6">
    <h1 class="display-4">Value Items</h1>
    <h6 class="text-muted">
      <% if @value_items && @value_items.all.size > 0 %>
          <%= @value_items.all.size %> records found
      <% end %>
    </h6>
  </div>
  <div class="col-xs-6 text-xs-right">
    <%= link_to 'New Value Item', new_value_item_path, class: 'btn btn-primary' %>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>List</th>
    <th>Value</th>
    <th>Position</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @value_items.each do |value_item| %>
      <tr>
        <td><%= value_item.list_id %></td>
        <td><%= value_item.name %></td>
        <td><%= value_item.position %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Edit buttons">
            <%= link_to 'Show', value_item, class: "btn btn-secondary  btn-sm" %>
            <%= link_to 'Edit', edit_value_item_path(value_item), class: "btn btn-secondary btn-sm" %>
            <%= link_to 'Destroy', value_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm" %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
